@import "WebFonts.css";

.menu {
  display: block;
  list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0 37px;
}

.menu li a {
  color: #0c547f;
  text-decoration: none;
  font-size: 20px;
  font-family: Baltica-Regular;
} 

.menu img {
  padding: 0 130px;
}

.h_indicator {
  position: absolute;
  top: 30px;
  left: 310px;
}
 
/* .main-text{ margin-bottom: 100px; } */

.main-text h1 {
  font-size: 100px;
  width: 780px;
  max-width: 100%;
  color: #00527d;
  padding-top: 100px;
  font-family: Baltica-Regular;
}

.main-text p {
  font-size: 20px;
  color: #292922;
  padding-top: 50px;
  padding-left: 103px;
  padding-right: 450px;
  font-family: Gotham-light;
}

.main-services {
  padding: 150px 0px;
}
.col-img-1 {
  padding-top: 15px;
  padding-bottom: 50px;

}
.col-img-2 {
  padding-bottom: 50px;
}

.col-content span {
  font-size: 30px;
  font-weight: bold;
  color: #0c547f;
  padding-bottom: 10px;
  font-family: Baltica-regular,Gotham-light;
}


.col-content li {
  font-size: 20px;
  color: #000;
  font-family: Baltica-regular,Gotham-light;
  padding:5px 0px;
}

.custom-testinomial {
  padding: 150px 0px;
}
.custom-testinomial p {
  color: #0c547f;
  font-size: 35px;
  font-family: Baltica-regular;
}
.signature {
  float: right;
  padding-right: 10px;
}

footer {
  background: #021d2c;
  line-height: 20px;
}

.footer-contact {
  padding-top: 40px;
}
.img-footer {
  padding-top: 20px;
}
.footer-contact li {
  color: white;
  list-style: none;
}

.footer-menu {
  display: block;
  padding-top: 50px;
}
.footer-menu li {
  display: inline-block;
  list-style: none;
  padding-left: 5px;
}
.footer-menu li a {
  color: #fff;
  text-decoration: none;
}

.mini_1 {
  color: #6c6c6c;
}
.mini_2 {
  color: #6c6c6c;
  padding-left: 120px;
  font-weight: 300;
}
.footer-menu-2 ul {
  display: block;
  padding-bottom: 10px;
}
.footer-menu-2 li {
  display: inline-block;
  padding-left: 5px;
}
.footer-menu-2 a {
  color: #6c6c6c;
}
